.navigation__link--portfolioline {
    position: relative;

    &::after {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        display: inline-block;
        margin-top: 40px;
        width: 78px;
        height: 4px;
        content: "";
        background: #2196F3;
        border-radius: 2px;
    }
}

.portfolio-buttons {
    display: flex;
    margin-bottom: 50px;
    gap: 8px;
    justify-content: center;

    @media screen and (max-width:$tablet){
        flex-wrap: wrap;
        justify-content: left;
    }
}

.portfolio-buttons__btn {
    display: inline-block;
    padding: 6px 22px;
    min-width: 73px;

    color: var(--secondary-text-color);
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--primary-white-color);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &__link{
    text-decoration: none;
    }
}

.portfolio-cards__item {
    @media screen and (min-width:$tablet) {
        width: calc((100% - 30px) /2);
    }

    @media screen and (min-width:$desktop) {
         width: calc((100% - 60px) /3);
    }

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio-padding {
    padding: 20px 24px;
    flex-basis: calc((100% - 60px) /3);
    width: 370px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.portfolio-cards__subtitle {
    margin-top: 0;
    margin-bottom: 4px;

    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-cards__description {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;

    &:hover .portfolio-cards__text {
        transform: translateY(0);
    }
}

.portfolio-cards__text {
    position: absolute;
    padding: 63px 24px;

    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #FFFFFF;

    transform: translateY(100%);
    transition: transform 250ms linear;
}